/* helper style - css box model */
.border-blue {
    border: 1px solid blue;
}

body {
    background-image: url("./images/table.png");
    background-size: cover;
    color: #ffffff;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bolder;
    user-select: none;
}

h1 {
    color: goldenrod;
}

#message-el {
    font-style: italic;
}

button {
    padding: 10px 12px;
    width: 150px;
    display: block;
    margin: 10px auto;
    background: goldenrod;
    color: green;
    border: none;
    border-radius: 5px;
    font-family: inherit;
    font-weight: inherit;
    cursor: pointer;
}

button:focus {
    outline: 1px solid #ffffff;
}

